@font-face {
    font-family: 'MachineStd';
    font-style: normal;
    font-weight: normal;
    src: local('Machine'), url('../fonts/MachineStd.otf') format('opentype');
  }

  /*html {
    min-height: 100%;
    background:
        radial-gradient(#8A8879, #252523),
        url("//lorempixel.com/500/500");
    background-size: cover;
}*/
/*   
  body {
    font-size: 48px;
  } */

body {
    background: transparent;
    background-color: #C62B29; 
}

a, a:hover {
    color: #eee;
    text-decoration: none;
    text-underline-position:auto;
    border-bottom: #993F35 solid 0.1em;
    /*
    FEDC55
    #993F35
    */
}

/*body, div.jumbotron {
    background-color: #aaa;
    background-color: #999;
}*/

div.jumbotron {
    background-color: #FEDC55;
    background-color: #242422;

    background:
        radial-gradient(#474842, #242422),
        url("//lorempixel.com/500/500");
    background-size: cover;
    
    font-family: 'MachineStd', serif;
    margin-bottom: 0;
    padding: 0.5rem;
}

div.jumbotron h1 {
    color: #A21D20;

    color: #F3EAC9;
    /* #F3EAC9 */
    text-shadow: none;
}
div.jumbotron h1 small {
    /* color: #333434; */
    color: #B4A443;
    /* color: #993F35; */
    
    text-shadow: none;
    text-shadow: 0em 0em 0.2em #242422;
    font-size: 1em;
}
div.jumbotron h2 {
    color: #333434;
    text-shadow: none;
    text-shadow: 0em 0em 0.2em #242422;
}

h1, h2, h3, h4 {
    text-align: center;
    margin-bottom: .5rem;
    font-weight: 100;
    color: #fff;
    text-align: center;
    text-shadow: 0em 0em 0.1em #000;
}

body.h1, body.h2, body.h3, body.h4 {
    text-align: center;
    margin-bottom: .5rem;
    font-weight: 100;
    color: #fff;
    text-align: center;
    text-shadow: 0em 0em 5.2em #000;
}

@media screen and (max-width: 480px) {
    body {
        background-color: #FAB043;
    }

    div.jumbotron {
        background-color: #C62B29;
        font-family: 'MachineStd', serif;
        margin-bottom: 0;
        padding: 1rem;
    }

    div.jumbotron h1 {
        color: #FCB813;
    }
    div.jumbotron h2 {
        color: #fff;
    }
}

@media screen and (max-width: 6480px) {
    body {
        background-color: #FAB043;
    }

    div.jumbotron {
        background-color: #C62B29;
        font-family: 'MachineStd', serif;
        margin-bottom: 0;
        padding: 1rem;
    }

        div.jumbotron h1 {
            color: #FCB813;
        }

        div.jumbotron h2 {
            color: #fff;
        }
}